body{
	margin:0;
		overflow-x: hidden;
}

section{
	min-height: 100vh;
	min-width:10%;
	margin:0px;
	padding-bottom:100px;
}

h1{
	padding-top:200px;
	font-family: helvetica, verdana,sans-serif;
	font-size:26pt;
	font-weight:lighter;
	color:white;
	text-align:center;
}

h2{
	font-family: helvetica, verdana,sans-serif;
	font-size:11pt;
	font-weight:bolder;
	text-align: left;
	color:white;
}

img {
	padding-left:30px;
	padding-bottom:30px;
}

.link{
	color:gold;
}
.container{
	position:relative;
	width:100%;
	top:130px;
	/*height:300px;*/
	text-align: center; 
}

.resumeCopy{
	position:relative;
	width:60%;
	top:50px;
	left:190px;
}


@media (max-width:500px){
	.resumeCopy{
		left:20px;
	}
}


.one{
	padding:0px;
}

p{
	font-family: helvetica, sans-serif;
	font-size: 14px;
	font-weight:lighter;
}

.bodyCopy{
	font-size:11pt;
	color:white;
}

.headline{
	position:absolute;
	top:10px;
	left:300px;
}

.copybox{
	padding:10px;
	height:90vh;
	display:inline-block;
}

.gridWork{
  position:absolute;
  left:130px;
  width:90vw;
}

nav{
	position:fixed;
	width:100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index:10;
	transition:all 600ms;
}

@media (max-width:500px){
	nav{
		font-size:10pt;
	}
}


nav li{
	display:inline-block;
	padding-left: 30px;
}

@media (max-width:500px){
	nav li{
		padding-left:10px;
	}
}

li{
	font-family: verdana, helvetica, sans-serif;
	font-weight:lighter;
	font-size:14pt;
	text-decoration: none;
	color:white;
}


a{
	font-family: helvetica, sans-serif;
	text-decoration: none;
	color:white;
}
/*a:link {
    
}

a:visited {
    background-color: cyan;
}

a:hover {
    background-color: lightgreen;
}

a:active {
    background-color: hotpink;
}*/

.current{
	font-weight: bolder;
}

.menu-icon{
	float: right;
	display:none;
}

.fancyboxMe{
	top:100px;
	padding:0px;
	text-align: center;
}

.fancybox{
	float:left;
	text-align: center;
	padding-bottom:15px;
	padding-right:5px;
	text-align: center;
}

@media (max-width: 768px){
	nav ul {
		display:none;
	}

	.menu-icon{
		display:block;
    }
}

.image1_background {
	padding:0px;
	width:100%;
	height:600px;
	/*box-shadow:  0px 10px 10px #888888;*/
	background-repeat: repeat;
	background-image: url(../images/work/halftone.png);
}

.image2_background {
	padding:0px;
	width:100%;
	height:650px;
	background-repeat:no-repeat;
	background-image: url(../images/work/RESUMEbackgroundRES.jpg);
}


.image3_background {
	padding:0px;
	width:100%;
	height:950px;
	background-repeat: no-repeat;
	background-image: url(../images/work/NEWTBWAbackground.jpg);
}


.image4_background {
	padding:0px;
	width:100%;
	height:1100px;
	background-repeat: no-repeat;
	background-image: url(../images/WORK/NEWDENTSUbackground.jpg);
}

